body h1, body h2{
    text-align: center;
}

.blue{
    background-color: #5B85AA;
}

.red{
    background-color: #904E55;
}

.card{
    margin: 1.5rem;
    padding: 2rem;
    min-height: 400px;
    border-radius: 10px;
}

.card div{
    display: flex;
    justify-content: center;
}

.card h2{
    color: #F2EFE9;
    margin-bottom: 1.5rem;  
}

.card a{
    text-decoration: none;
}

.card div img{
    max-width: 100%;
    display: block;
    margin: auto;
    border-radius: 5%;
}

@media(min-width: 800px ){
 main{
    max-width: 1212px;
    margin: 2rem auto;
 }

 .grid-1_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
 }

 body h1{
    font-size: 52px;
}

}

@media(max-width: 800px ){
     main h1{
    font-size: 32px;
}

main{
    margin-top: 1.5rem;
}
}