img{
    max-width: 100%;
    max-height: 100%;
}

body h1, .card h2{
    text-align: center;
}

.blue{
    background-color: #5B85AA;
}

.red{
    background-color: #904E55;
}

.card{
    margin: 1.5rem;
    padding: 2rem;
    border-radius: 10px;
}

.card:hover{
    cursor: pointer;
}

.card div{
    display: flex;
    justify-content: center;
}

.card h2{
    color: #F2EFE9;
    margin-bottom: 1.5rem;  
}

.card a{
    text-decoration: none;
}

.card div img{
    max-width: 100%;
    display: block;
    margin: auto;
    border-radius: 5%;
}

.close-btn {
    position: absolute;
    top: 1px;
    right: 20px;
    font-size: 4rem;
    background: none;
    border: none;
    color: #F2EFE9;
    cursor: pointer;
  }

#sunpic{
    max-height: 68%;
}

.pop-up img{
    border-radius: 25px;
}

.web_buttons a{
    font-family: Hero;
}

.btn{
    text-decoration: none;
    color: #171123;
    background-color: #FFE548;
    border-radius: 40px;
    padding: 4px 40px;
    border-style: solid;
    text-align: center;
}

.btn:hover{
    background-color: #FFB20F;
}

.btn:focus{
    box-shadow: inset 6px 8px 20px #171123;
}

@media(min-width: 800px ){
 main{
    max-width: 1212px;
    margin: 2rem auto;
 }

 .grid-1_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
 }

 body h1{
    font-size: 52px;
    margin-bottom: 2rem;
}

.card img{
    height: 80%;
    width: 80%;
}

.card{
    height: 500px;
}

/* popup */

.pop-up{
    display: none;
    position: fixed;
    bottom: 50px;
    right: 100px;
    left: 100px;
    top: 100px;
    padding: 3rem;
    border-color: #F2EFE9;
    border-radius: 25px;
    border-style: solid;
    z-index: 11;
}

.popuptext h2, .popuptext p{
    color: #F2EFE9;
    margin-bottom: 10px;
}

.popuptext{
    margin-top: 1rem;
    max-width: 480px;
    min-width: 200px;
    line-height: 2rem;
}

.popup-wrapper {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(46, 46, 45, 0.5);
    z-index: 10;
  }

  .pop-up img{
    max-height: 75%;
  }

  .web_buttons{
    margin-top: 4.5rem;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
}

@media(max-width: 800px ){

     main h1{
    font-size: 32px;
}

main{
    margin-top: 1.5rem;
}

/* Popup */

    .pop-up{
    display: none;
    position: fixed;
    bottom: 25px;
    right: 30px;
    left: 30px;
    top: 25px;
    padding: 1.5rem;
    border-color: #F2EFE9;
     border-radius: 25px;
    border-style: solid;
    z-index: 11;
}

.popuptext h2, .popuptext p{
    color: #F2EFE9;
    margin-bottom: 5px;
}

.popuptext{
    margin-top: 2rem;
    max-width: 600px;
    min-width: 200px;
    line-height: 2rem;
    font-size: 0.8rem;
}

    .popup-wrapper {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(46, 46, 45, 0.5);
    z-index: 10;
    margin-top: -5rem;
  }

.web_buttons{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .btn{
    padding: 4px 10px;
  }

  .popuptext p{
    line-height: 1.5rem;
  }

  .close-btn{
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }

}