label{
    display: none;
}


@media(min-width: 800px ){
    main{
    max-width: 1212px;
    margin: 6rem auto;
    }

    .grid-1_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 800px ){

}